*{
	padding: 0;
	margin:0;
}

#menu-vertical{
	background:#facc2e;
	width: 300px;
	height: 100%; 
	position: fixed;
}

#menu-vertical ul {
	width: 40%;
	margin:auto;
	padding-top:20px;  
}

#menu-vertical ul a{
	text-decoration: none;
	display: block;
	padding: 15px;
	color:#f2f2f2;
	font:bold 16px verdana;
	border:1px solid #f2f2f2;
	transition:background .6s, color .6s;
}

#menu_vertical ul a:hover{
	background: #f2f2f2;
	color:#facc2e;
}

p{
	background:black;
	color:red; 
}

#main{
	width:900px;
	height: 225px;
	margin-right: 60px;
}


#main article{
	background:black;
	border:2px solid red;  
}